* {
  font-family: "Saira", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.menu{
  height: 10vh;
  display: flex;
  position: sticky;
  background: white;
  top: 0;
  padding: 0;
  border: 0;
  z-index: 999;
  align-items: center;
}

.menu a:nth-child(2) {
  float: right;
  margin-left: auto;
  text-decoration: none;
  padding: 20px;
  color: gray;
}

.menu a:nth-child(3) {
  float: right;
  text-decoration: none;
  padding: 20px;
  color: gray;
}


.menu a:last-child {
  float: right;
  text-decoration: none;
  padding: 20px ;
  background-color: red;
  color: white;
}


.menu a:hover {
  color: rgb(0, 0, 0);
  font-weight: bold;
}


.heroImage {
  display: flex;
  background-color: black;
  color: #ffffff;
  height: 90vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}


img {
  border-radius: 50%;
}


h1 {
  text-align: center;
  padding: 10px;
}

#margin{
  margin: 20px;
}

footer{
  background-color: black;
  color:white;
  text-align: center;
  justify-content: center;
  overflow: hidden;
  font-size: 0.8em;
}
