* {
  font-family: "Saira", sans-serif;
}

body {
  background-color: #faf5e5;
  margin: 0;
  display: grid;
  grid-template-rows: 15% 100% 20%;
  grid-template-columns: 18% 82%;
  grid-template-areas:
    "sidebar header"
    "sidebar main"
    "sidebar footer";
}

.main {
  margin-left: 3%;
}

footer {
  background-color: black;
  color: #f2f2f2;
  text-align: center;
  bottom: 0;
}

.sidenav {
  background-color: #111;
  padding-top: 12%;
  color: #ffffff;
  grid-area: sidebar;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  font-size: 22px;
  color: #ffffff;
}

.sidenav a:hover {
  color: #ffffff;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

img {
  border-radius: 50%;
}

.image {
  text-align: center;
}

h1 {
  text-align: center;
}

/* Não funcina ???????*/

#info {
  margin-left: 5px;
}

#unico {
  margin-left: 10px;
}
