* {
  font-family: "Fredoka", sans-serif;
}

h1 {
  font-family: "Indie Flower", cursive;
}

body{
  margin:0;
}

/* ---------------- LETTERS TEXT FIRST IMAGE ----------------- */

.typeLetter {
  font-family: "PT Serif", serif;
  font-size: 50px;
  margin-top: 15vh;
}

/* ---------------- Animações ----------------- */

.animacoes{
  display: grid;
  grid-template-areas: 
    'fotoAnimacoes1 fotoAnimacoes2'
    'fotoAnimacoes3 fotoAnimacoes4';
  justify-content: center;

}

.fotoAnimacoes1{
  width: 100px;
  height: 100px;
  animation-name: exempl1;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  grid-area: fotoAnimacoes1;
}

.fotoAnimacoes2 {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  animation-name: example2;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  grid-area: fotoAnimacoes2;
}

.fotoAnimacoes3 {
  position: relative;
  width: 100px;
  height: 100px;
  animation-name: exemplo3;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  grid-area: fotoAnimacoes3;
}

.fotoAnimacoes4 {
  position: relative;
  width: 100px;
  height: 100px;
  animation-name: exemplo4;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  grid-area: fotoAnimacoes4;
}

@keyframes exempl1 {
  from {
    background-color: rgb(255, 145, 0);
  }

  to {
    background-color: rgb(255, 230, 0);
  }
}

@keyframes example2 {
  0% {
    background-color: rgb(255, 145, 0);
    left: 0px;
    top: 0px;
  }
  
  50% {
    background-color: rgb(255, 230, 0);
    left: 200px;
    top: 0px;
  }

  100% {
    background-color: rgb(255, 230, 0);
    left: 0px;
    top: 0px;
  }
}

@keyframes exemplo3 {
  0% {
    background-color: rgb(255, 145, 0);
    left: 0px;
    top: 0px;
  }

  50% {
    background-color: rgb(255, 230, 0);
    left: 0px;
    top: 200px;
  }

  100% {
    background-color: rgb(255, 230, 0);
    left: 0px;
    top: 0px;
  }
}

@keyframes exemplo4 {
  0% {
    background-color: rgb(255, 145, 0);
    left: 0px;
    top: 0px;
  }

  50% {
    background-color: rgb(255, 230, 0);
    left: 200px;
    top: 200px;
  }
  
  100% {
    background-color: rgb(255, 230, 0);
    left: 0px;
    top: 0px;
  }
}

/* ---------------- PARALLAX ----------------- */

.parallax {
  background-image: url(images/beach_parallax.jpg);
  min-height: 30vh;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 p {
  font-size: 18px;
  text-align: center;
}

/* ---------------- FOTOS ----------------- */

.fotos {
  display: grid;
  grid-template-areas: 
      'foto1 foto2 foto3'
      'foto4 foto5 foto6'
      'foto7 foto8 foto9'
      'foto10 foto11 foto12';
  justify-content: center;
  align-items: center;
  gap: 1vw;
  margin: 0 10vw;
}

.text{

}

.foto1 {
  position: relative;
  max-width: 100%;
  grid-area: foto1;
}

.foto1:hover{
  opacity: 0.5;
}

.foto2 {
  position: relative;
  max-width: 100%;
  grid-area: foto2;
}
.foto2:hover {
  opacity: 0.5;
}

.foto3 {
  position: relative;
  max-width: 100%;
  grid-area: foto3;
}
.foto3:hover {
  opacity: 0.5;
}

.foto4 {
  position: relative;
  max-width: 100%;
  grid-area: foto4;
}
.foto4:hover {
  opacity: 0.5;
}

.foto5 {
  position: relative;
  max-width: 100%;
  grid-area: foto5;
}
.foto5:hover {
  opacity: 0.5;
}

.foto6 {
  position: relative;
  max-width: 100%;
  grid-area: foto6;
}
.foto6:hover {
  opacity: 0.5;
}

.foto7 {
  position: relative;
  max-width: 100%;
  grid-area: foto7;
}
.foto7:hover {
  opacity: 0.5;
}

.foto8 {
  position: relative;
  max-width: 100%;
  grid-area: foto8;
}
.foto8:hover {
  opacity: 0.5;
}

.foto9 {
  position: relative;
  max-width: 100%;
  grid-area: foto9;
}
.foto9:hover {
  opacity: 0.5;
}

.foto10 {
  position: relative;
  max-width: 100%;
  grid-area: foto10;
}
.foto10:hover {
  opacity: 0.5;
}

.foto11 {
  position: relative;
  max-width: 100%;
  grid-area: foto11;
}
.foto11:hover {
  opacity: 0.5;
}

.foto12 {
  position: relative;
  max-width: 100%;
  grid-area: foto12;
}
.foto12:hover {
  opacity: 0.5;
}


/* ---------------- CAPITAIS ----------------- */

.capitais {
  background-color: rgb(163, 218, 255);
  display: flex;
  justify-content: space-around;
  align-items: space-around;
  font-size: 20px;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 20px;
}

.capitais > div {
  box-shadow: 5px 5px 15px #888888;
  justify-content: space-around;
  align-items: space-around;
  border-radius: 20px;
  width: 300px;
  height: 88px;
  margin: 20px;
}

.capitais img {
  border-radius: 20px;
  height: 100%;
  float: left;
}

.capitais div div:last-child {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 12px;
  text-align: right;
}

/* ---------------- MENU TOPBAR ----------------- */

.menu {
  display: flex;
  position: sticky;
  background: white;
  top: 0;
  margin: 0;
  padding: 0;
  border: 0;
  z-index: 999;
}

.menu a:last-child {
  margin-left: auto;
}

a {
  padding: 20px;
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(160, 160, 160);
  font-weight: bold;
}

.flex-container {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---------------- FIRST IMAGE PAGE ----------------- */

.backImage {
  display: flex;
  background-image: url(images/predios.jpg);
  text-align: center;
  justify-content: center;
  height: 90vh;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ---------------- DICAS ----------------- */

.dicas {
  display: flex;
  background-color: rgb(163, 218, 255);
  margin-top: 50px;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 20px;
  padding: 10px 20px;
}

.dicas > div {
  justify-content: space-around;
  align-items: space-around;
  margin: 20px;
  background-color: rgb(255, 255, 255);
  border: 3px solid black;
  width: 250px;
  height: 250px;
  box-shadow: 5px 5px 15px #888888;
  border-radius: 20px;
  padding: 10px 20px;
}

.dicas div h2 {
  text-align: center;
}

.dicas div p {
  margin: 6px;
}

/* ---------------- DESTINOS ----------------- */

.destinos {
  display: grid;
  grid-template-areas:
    "ericeira    geres   lisboa gridWhite"
    "vilamoura vilamoura porto  gridWhite";
  grid-template-rows: 300px 300px;
  grid-template-columns: 300px 300px 300px 411px;
  gap: 10px;
  box-sizing: border-box;
  padding: 10px;
  background-color: rgb(163, 218, 255);
  margin-top: 30px;
  justify-content: center;
}

/* ---------------- GRIDWHITE ----------------- */

.gridWhite {
  display: grid;
  grid-template-areas:
    "campismo campismo"
    "paragrafo botao";
  width: 411px;
  background-color: white;
  grid-area: gridWhite;
}

.gridWhite img {
  height: auto;
  width: auto;
  background-repeat: no-repeat;
  grid-area: campismo;
}

.gridWhite p {
  height: 80px;
  width: 180px;
  margin-left: 20px;
  margin-top: 45px;
  grid-area: paragrafo;
}

.gridWhite button {
  margin-top: 40px;
  height: 50px;
  width: 100px;
  grid-area: botao;
}

/* ---------------- ABSOLUTE E RELATIVE ----------------- */

.relative {
  position: relative;
  left: 5%;
  font-size: 20px;
  color: white;
}

.absolute {
  position: absolute;
  margin: 15px;
  top: 70%;
  padding: 5px;
  color: white;
  font-size: 20px;
}

/* ---------------- VARIOS DESTINOS ----------------- */

.ericeira {
  background-image: url(images/ericeira.jpg);
  height: auto;
  width: auto;
  background-repeat: no-repeat;
  position: relative;
  grid-area: ericeira;
}

.geres {
  background-image: url(images/geres.jpg);
  height: auto;
  width: auto;
  background-repeat: no-repeat;
  position: relative;
  grid-area: geres;
}

.vilamoura {
  background-image: url(images/vilamoura.jpg);
  height: auto;
  width: auto;
  background-repeat: no-repeat;
  position: relative;
  grid-area: vilamoura;
}

.lisboa {
  background-image: url(images/lisboa1.jpg);
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  position: relative;
  grid-area: lisboa;
}

.porto {
  background-image: url(images/porto.jpg);
  height: auto;
  width: auto;
  background-repeat: no-repeat;
  position: relative;
  grid-area: porto;
}

/* ---------------- MEDIA QUERYS ----------------- */

@media (max-width: 1399px) {
  .destinos {
    display: grid;
    grid-template-areas:
      "ericeira    geres   lisboa"
      "vilamoura vilamoura porto"
      "gridWhite gridWhite gridWhite";
    grid-template-rows: 300px 300px 600px;
    grid-template-columns: 300px 300px 300px;
    gap: 10px;
    box-sizing: border-box;
    padding: 10px;
    background-color: rgb(163, 218, 255);
    margin-top: 30px;
    justify-content: center;
  }
  .gridWhite {
    justify-self: center;
  }
}

@media (max-width: 900px) {
  .destinos {
    grid-template-areas:
      "ericeira    geres"
      "lisboa      porto"
      "vilamoura vilamoura "
      "gridWhite  gridWhite";
    grid-template-columns: 300px 300px;
    grid-template-rows: 300px 300px 300px 600px;
    gap: 10px;
    justify-content: center;
  }
  .gridWhite {
    justify-self: center;
  }

  .fotos{
    display: grid;
    grid-template-areas: 
      'foto1 foto2'
      'foto3 foto4'
      'foto5 foto6'
      'foto7 foto8'
      'foto9 foto10'
      'foto11 foto12';
      justify-content: center;
      align-items: center;
      gap: 1vw;
      margin: 0 10vw;
  }
}

@media (max-width: 620px) {
  .destinos {
    grid-template-areas:
      "ericeira"
      "geres"
      "lisboa"
      "porto"
      "vilamoura"
      "gridWhite";
    grid-template-columns: 300px;
    grid-template-rows: 300px 300px 300px 300px 300px 480px;
    gap: 10px;
    justify-content: center;
  }

  .gridWhite {
    display: grid;
    grid-template-areas:
      "campismo campismo"
      "paragrafo botao";
    width: 300px;
    background-color: white;
    grid-area: gridWhite;
  }

  .gridWhite img {
    height: auto;
    width: 300px;
    background-repeat: no-repeat;
    grid-area: campismo;
  }

  .gridWhite p {
    height: 80px;
    width: 150px;
    margin-left: 15px;
    margin-top: 30px;
    grid-area: paragrafo;
  }

  .gridWhite button {
    margin-top: 40px;
    height: 50px;
    width: 100px;
    grid-area: botao;
  }

  .fotos {
    display: grid;
    grid-template-areas:
      'foto1'
      'foto2'
      'foto3'
      'foto4'
      'foto5'
      'foto6'
      'foto7'
      'foto8'
      'foto9'
      'foto10'
      'foto11'
      'foto12';
    justify-content: center;
    align-items: center;
    gap: 1vw;
    margin: 0 10vw;
  }
}
