* {
  font-family: "Fredoka", sans-serif;
}

h1 {
  font-family: "Indie Flower", cursive;
}

.typeLetter {
  font-family: "PT Serif", serif;
  font-size: 50px;
  margin-top: 15vh;
}

.capitais {
  background-color: rgb(163, 218, 255);
  display: flex;
  justify-content: space-around;
  align-items: space-around;
  font-size: 20px;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 20px;
}

.capitais > div {
  box-shadow: 5px 5px 15px #888888;
  justify-content: space-around;
  align-items: space-around;
  border-radius: 20px;
  width: 300px;
  height: 88px;
  margin: 20px;
}

.capitais img {
  border-radius: 20px;
  height: 100%;
  float: left;
}

.capitais div div:last-child {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 12px;
  text-align: right;
}

.menu {
  display: flex;
  position: sticky;
  background: white;
  top: 0;
}

.menu a:last-child {
  margin-left: auto;
}

a {
  padding: 20px;
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(160, 160, 160);
  font-weight: bold;
}

.flex-container {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backImage {
  display: flex;
  background-image: url(images/predios.jpg);
  text-align: center;
  justify-content: center;
  height: 90vh;
  color: white;
  background-repeat: no-repeat;
}

.dicas {
  display: flex;
  background-color: rgb(163, 218, 255);
  margin-top: 50px;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 20px;
  padding: 10px 20px;
}

.dicas > div {
  justify-content: space-around;
  align-items: space-around;
  margin: 20px;
  background-color: rgb(255, 255, 255);
  border: 3px solid black;
  width: 250px;
  height: 250px;
  box-shadow: 5px 5px 15px #888888;
  border-radius: 20px;
  padding: 10px 20px;
}

.dicas div h2 {
  text-align: center;
}

.dicas div p {
  margin: 6px;
}

.destinos {
  display: grid;
  grid-template-areas:
    "ericeira    geres   lisboa gridWhite"
    "vilamoura vilamoura porto  gridWhite";
  grid-template-rows: 300px 300px;
  grid-template-columns: 300px 300px 300px 411px;
  gap: 10px;
  box-sizing: border-box;
  padding: 10px;
  background-color: rgb(163, 218, 255);
  margin-top: 30px;
  justify-content: center;
}

.gridWhite {
  display: grid;
  grid-template-areas:
    "campismo campismo"
    "paragrafo botao";
  width: 411px;
  background-color: white;
  grid-area: gridWhite;
}

.gridWhite img {
  height: auto;
  width: auto;
  background-repeat: no-repeat;
  grid-area: campismo;
}

.gridWhite p {
  height: 80px;
  width: 180px;
  margin-left: 20px;
  margin-top: 45px;
  grid-area: paragrafo;
}

.gridWhite button {
  margin-top: 40px;
  height: 50px;
  width: 100px;
  grid-area: botao;
}

.relative {
  position: relative;
  left: 5%;
  font-size: 20px;
  color: white;
}

.absolute {
  position: absolute;
  margin: 15px;
  top: 70%;
  padding: 5px;
  color: white;
  font-size: 20px;
}

.ericeira {
  background-image: url(images/ericeira.jpg);
  height: auto;
  width: auto;
  background-repeat: no-repeat;
  position: relative;
  grid-area: ericeira;
}

.geres {
  background-image: url(images/geres.jpg);
  height: auto;
  width: auto;
  background-repeat: no-repeat;
  position: relative;
  grid-area: geres;
}

.vilamoura {
  background-image: url(images/vilamoura.jpg);
  height: auto;
  width: auto;
  background-repeat: no-repeat;
  position: relative;
  grid-area: vilamoura;
}

.lisboa {
  background-image: url(images/lisboa1.jpg);
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  position: relative;
  grid-area: lisboa;
}

.porto {
  background-image: url(images/porto.jpg);
  height: auto;
  width: auto;
  background-repeat: no-repeat;
  position: relative;
  grid-area: porto;
}

@media (max-width: 1399px) {
  .destinos {
    display: grid;
    grid-template-areas:
      "ericeira    geres   lisboa"
      "vilamoura vilamoura porto"
      "gridWhite gridWhite gridWhite";
    grid-template-rows: 300px 300px 600px;
    grid-template-columns: 300px 300px 300px;
    gap: 10px;
    box-sizing: border-box;
    padding: 10px;
    background-color: rgb(163, 218, 255);
    margin-top: 30px;
    justify-content: center;
  }
  .gridWhite {
    justify-self: center;
  }
}

@media (max-width: 900px) {
  .destinos {
    grid-template-areas:
      "ericeira    geres"
      "lisboa      porto"
      "vilamoura vilamoura "
      "gridWhite  gridWhite";
    grid-template-columns: 300px 300px;
    grid-template-rows: 300px 300px 300px 600px;
    gap: 10px;
    justify-content: center;
  }
  .gridWhite {
    justify-self: center;
  }
}

@media (max-width: 645px) {
  .destinos {
    grid-template-areas:
      "ericeira"
      "geres"
      "lisboa"
      "porto"
      "vilamoura"
      "gridWhite";
    grid-template-columns: 300px;
    grid-template-rows: 300px 300px 300px 300px 300px 480px;
    gap: 10px;
    justify-content: center;
  }

  .gridWhite {
    display: grid;
    grid-template-areas:
      "campismo campismo"
      "paragrafo botao";
    width: 300px;
    background-color: white;
    grid-area: gridWhite;
  }

  .gridWhite img {
    height: auto;
    width: 300px;
    background-repeat: no-repeat;
    grid-area: campismo;
  }

  .gridWhite p {
    height: 80px;
    width: 150px;
    margin-left: 15px;
    margin-top: 30px;
    grid-area: paragrafo;
  }

  .gridWhite button {
    margin-top: 40px;
    height: 50px;
    width: 100px;
    grid-area: botao;
  }
}
